.form-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

    max-width: 500px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form {
    display: inline;
}

input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

textarea {
    resize: vertical;
    height: 150px;
}

button {
    width: 500px;
    padding: 10px;
    background-color: #333;
    color: white;
}

button:hover {
    background-color: #555;
}
